body {
  background-color: #1F1F1F;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin:auto;
}
body h3 {
  background-color: brown;
  color: aqua;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
}
body a {
  color:darkorchid;
  text-align: center;
  display: block;
  transition: 0.3s;
  background-color:darkslategray;
  padding: 10px;
  font-size: 18px;
  border-radius: 6px;
}
body a:hover{
  color:aqua;
}
body p{
  color: red;
}